.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.maincont {
  text-align: center;
  font-weight: bold;
  color:whitesmoke;
}

.cardcont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

header h1 {
	margin: 3%;
	color: rgb(0, 204, 255);
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px blue;
}

p{
  font-size: 1.2rem;
}
